body{
	background: transparent;
	background: url("../images/nature.jpg") no-repeat center;
	background-size: cover;
	background-position: center;
}
#navBar{
	height: 9%;
}
 #navRight, #navLeft{
	padding-top: 1%;
	
}

 #navRight, #navLeft{
	font-size: 12px;
}
.menuList{
	font-size: 20px;
	font-weight: bold;
}
#headline{
	text-align: center;
	padding-top: 6%;

}
#headline h4{
	font-family: sans-serif;
	color: yellow;
	font-style: italic;
	padding-top: none
} 

#pheader{
	font-weight: bold;
	color: white;
	font-family: 'Old Sans Black', sans-serif;
	font-weight: 700
}
#labelWrapper{
	padding-top: 5%;
}
#list{
	float: center;
	margin-left: 15em;
	text-decoration: none;
	width:;
}

#list li{
	background-color:white;
	opacity: 0.6;
	padding: 1em;
	margin-left: 2em;
	margin-top: 0.5em;
	font-weight: bold;
}
#transparentBg{
	margin-top: 16em;
	background-color: #09131a;
	padding: 3em;
}
#list li:hover {
	opacity: 100;
	background-color: white;
	border-width: 5px;
	border-color: blue;

}