<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/foundation.min.css">
	<link rel="stylesheet" type="text/css" href="/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">

	<title>HACKERS GUILD</title>
  <meta name ="viewport" content="width = device-width,initialscale = 1">
</head>
<body>
<nav class="top-bar" id="navBar" data-topbar role="navigation">
  <ul class="title-area" id="navTitle">
    <li class="name">
      <a href="#"><img src="/images/logo.png" class="show-for-medium-up"></a>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right" id="navRight">
      <li class="has-form">
  		<div class="row collapse">
    		<div class="medium-8 columns">
     		 <input type="text" placeholder="example@example.com">
    			</div>
   	 				<div class="medium-3 columns end">
      					<a href="#" class="button radius success">Subscribe</a>
    				</div>
  				</div>
		</li>
     </ul>
    <!-- Left Nav Section -->
    <ul class="left navMenu menuList" id="navLeft">
      <li><a href="#">Home</a></li>
        <li class="navMenu menuList" ><a href="mailto">Contact Us</a></li>
    </ul>
  </section>
</nav>
<!-- THE HEADING -->
<div id="headline">
  <div id="filter">
    <div id="padding-header-mobile" class="show-for-small-only"></div>
    <h1 id="pheader">HACKERS GUILD</h1>
    <h4 class="hide-for-small-only" id="slogan">Raising an army of coders</h4>
    <div class="hide-for-small-only columns">
      <ul id="list" class="inline-list">
         <li>App Makers</li>
         <li class="show-for-medium-up">Agile Development</li>
         <li class="hide-for-medium-up">Agile</li>
         <li>Learning by Doing</li>
         <li class="hide-for-medium-only">The Hacker Way</li>
         <li>Good Practices</li>
      </ul>            
    </div>
  </div>
</div>
<div id='separator'></div>
<div class="row textHeadlines">
  <div class="medium-6 columns">
    <h3>Hacking is a way of solving problems by thinking out of the box</h3>
    <p>Hackers Guild pionnered in immersive training in Zambia, aiming to learn how to craft applications -- mobile and web. 
    We want our hackers to be innovative and creative to cope with growing business demand for ICT professionnals in Zambia.
    Our 3months training sessions is enterily dedicated to learn programming good pratices. 
    We are hackers, sky is the limit.</p>
  </div>
  <div class="medium-5 columns">
    <img src="images/hackers.jpg" class="textImage img-responsive">
    <div class="caption"><p>caption caption</p></div>
  </div>
</div>
<div class="row textHeadlines">
  <div class="medium-5 columns">
    <img src="images/big.jpg" class="textImage img-responsive">
    <div class="caption"><p>caption caption</p></div>
  </div>
  <div class="medium-6 columns">
    <h3>Good practices, cutting-edge technologies, business relations, become a professionnal freelance developper with the Hackers Guild</h3>
    <p> Our innovative approach to applications development is based on the agile method, constant feedback from the client, behavior driven development, etc. All those approches are now widespread in other regions in the world. We want our hackers to master those methods that have been proven for years elsewhere.
    For a tech point of view, we are going through HTML, styling, version control, Test Driven Development, Model View Controller app, databases, software as a service. All of those based mainly on 2 languages : Javascript & Ruby.</p>
  </div>
</div>
<div class="row textHeadlines">
  <div class="medium-6 columns">
    <h3>We believe that education is learning how to learn. We fulfill this mission with a full-time and immersive training. Learning by practicing</h3>
    <p>We start every training session from scratch, whatever your computing skills, (apply now)[insert questionnaire link]. We only require a large dose of curiosity & autonomy.
    Our training is based on intensive pratice of writing code : 
     - pair-programming -- one computer, two brains
     - team projects
     - mob-programming [insert link here]
     - hackathons</p>
  </div>
  <div class="medium-5 columns">
    <img src="images/gear.jpg" class="textImage img-responsive">
    <div class="caption"><p>Caption Caption Caption</p></div>
  </div>
</div>
<footer class="row">
  <div class="columns medium-4">
    <ul class="inline-list social-icons">
      <li>
        <a href="https://facebook.com/thehackersguild"><i class="fa fa-facebook fa-3x"></i></a> 
      </li>
      <li>
        <a href="https://twitter.com/thehackersguild"><i class="fa fa-twitter fa-3x"></i></a>
      </li>
      <li>
        <a href="https://github.com/hackersguild"><i class="fa fa-github fa-3x"></i></a> 
      </li>
    </ul>
  </div>
  <div class="columns medium-4">
    <form action="//hackersguild.us3.list-manage.com/subscribe/post?u=dad59cad72605797cfe8d0abd&amp;id=011348cda4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Your Email" required>
        <div style="position: absolute; left: -5000px;">
          <input type="text" name="b_dad59cad72605797cfe8d0abd_011348cda4" tabindex="-1" value="">
        </div>
        <div class="clear">
          <input type="submit" value="Hear from us" name="subscribe" id="mc-embedded-subscribe" class="button success expand postfix">
        </div>
    </form>
  </div>
  <div class="columns medium-4 end">
    <address><a href="#">contactus(at)hackersguild.org</a></address>
  </div>
</footer>
</body>
</html>
