<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/foundation.min.css">
	<link rel="stylesheet" type="text/css" href="/style.css">
	<title>HACKERS GUILD</title>
</head>
<body>
<nav class="top-bar" id="navBar" data-topbar role="navigation">
  <ul class="title-area" id="navTitle">
    <li class="name">
      <h1><a href="#"><img src="/images/logo.png"></a></h1>
    </li>
     <!-- Remove the class "menu-/icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right" id="navRight">
      <li class="has-form">
  		<div class="row collapse">
    		<div class="large-8 small-9 columns">
     		 <input type="text" placeholder="example@example.com">
    			</div>
   	 				<div class="large-4 small-3 columns">
      					<a href="#" class="button radius">Subscribe</a>
    				</div>
  				</div>
		</li>
        <li class="navMenu menuList" ><a href="#">Contact Us</a></li>
     </ul>
    <!-- Left Nav Section -->
    <ul class="left navMenu menuList" id="navLeft">
      <li><a href="#">Home</a></li>
    </ul>
  </section>
</nav>
	<div class="row" id="headline">
  		<div class="medium-12 columns">
  			<h1 id="pheader">HACKERS GUILD</h1>
  			<p>RAISING AN ARMY OF <span id="codersword">CODERS</span></p>
  		</div>
	</div>
	<div class="row" id="labelWrapper">
		<div class="small-2 columns right">
		  	<div class="label right"><a href="#panel2" id="">#GitHub</a></div>
		
		</div>
	</div>	
	<div class="row">
		<div class="small-4 columns right">
		  	<div class="label right"><a href="#panel2" id="">#Hackers</a></div>
		  	<div class="label right"><a href="#panel2" id="">#Foundation</a></div>
		</div>
	</div>	
	<div class="row">
		<div class="small-8 columns right">
		  	<div class="label right"><a href="#panel2" id="">#Bootstrap</a></div>
		  	<div class="label right"><a href="#panel2" id="">#Ruby</a></div>
		  	<div class="label right"><a href="#panel2" id="">#Git</a></div>
		</div>
	</div>	
</body>
</html>