
.textImage{
 	border-radius: 2px;
}
.img-responsive{
	display: block;
	width: 100% \9;
	max-width: 100%;
    height: auto;

}
.textHeadlines{
	padding-bottom: 3%;
	text-align: justify;
}
.caption{
	position: relative;
	bottom: 26px;
	padding: 0px;
	background: rgba(0,0,0,0.6);
	color: white;

}
.caption p{
	margin-left: 2%;
}
