@font-face{
	font-family: "compass";
	src:url("/fonts/Compass.ttf");
}

#navBar{
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	height: 65px;
}

#navRight, #navLeft{
	padding-top: 1%;
}

#navRight{
	padding-right: 3%;
}	

.name{
	padding-top: 3%;
}

.menuList{
	font-size: 20px;
	font-weight: bold;
}

#padding-header-mobile{
	padding-top:50px
}

#pheader{
	font-size: 3.2em;
	font-weight: 100;
	color: white;
	font-family: 'compass', helvetica, sans-serif;
}

#headline{
	background: url("/images/bg.jpg") no-repeat center fixed;
	background-size: cover;
	text-align: center;
}

#filter{
	background:rgba(0,0,0,.4);
  width: auto;
  padding: 100px 0
}

#slogan {
	color: #ffffff;
}

#labelWrapper{
	padding-top: 5%;
}

#list{
	float: center;
	text-decoration: none;
	margin:0 auto;
	width:780px;
}

#list li{
	background-color:white;
	opacity: 0.8;
	padding: 0.8em;
	margin-left: 1.5em;
	margin-top: 0.5em;
	font-family: 'compass', helvetica, sans-serif;
}

#list li:hover {
	opacity: 100;
	background-color: white;
	border-width: 5px;
	border-color: blue;

}

/*Body*/

.textImage{
 	border-radius: 2px;
}
.img-responsive{
	display: block;
	width: 100% \9;
	max-width: 100%;
    height: auto;

}

.textHeadlines{
	padding-bottom: 3%;
	text-align: justify;
}

.caption{
	position: relative;
	bottom: 26px;
	padding: 0px;
	background: rgba(0,0,0,0.6);
	color: white;

}

.caption p{
	margin-left: 2%;
}


/* Footer*/

footer {
	background-color: black;
	padding-top:18px; 
	margin: 0;
	max-width: 0;
}
footer i{
	padding: 21px 10px 10px 10px;

}
.social-icons a{
	color: #bbb;
}
.social-icons a:hover{
	color: #888;
}

address a{
	color: white;
	font-size: 1.5;
	font-weight: bold
}

/* min-width 641px, medium screens */
@media only screen and (min-width: 40.063em) { 
	

	#separator {
		background-color: #333;
		height:6%;
		margin-bottom: 5%;
	}
} 

/* min-width 1025px, large screens */ 
@media only screen and (min-width: 60.063em){ 
	
	#separator {
		background-color: #333;
		height:10%;
		margin-bottom: 8%;
	}
}

 